/* 容器  */
.uploadMore-container {
    display: flex;
    flex-wrap: wrap;
    /*border: 1px solid black;*/
    gap: 10px;
    /*padding: 10px;*/
}

/* 成员 | 上传按钮 */
.uploadMore-item,
.uploadMore-uploadBtn {
    position: relative;
    width: 120px;
    height: 120px;
    border: 1px solid #e0e0e0; /* 浅灰色边框 */
    text-align: center;
    line-height: 80px;
    padding: 4px;
    border-radius: 8px;
    transition: all 0.3s ease; /* 过渡效果 */
}

/* 图片展示 */
.uploadMore-img-preview {
    width: 100%;
    height: 100%;
}

.uploadMore-img-preview img {
    max-width: 100%;
    max-height: 100%;
}

/*拖拽排序按钮*/
.uploadMore-drag {
    background: rgba(236, 221, 221, 0.5);
    border-bottom-left-radius: 4px;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*************************** 上传按钮 start ***************************/
/* 上传按钮 */
.uploadMore-uploadBtn {
    border: 1px dashed gray;
}
.uploadMore-uploadBtn:hover {
    border-color: #40a9ff;
    color: #40a9ff;
}

/* 上传按钮-文件数量 */
.uploadMore-uploadBtn .uploadMore-fileNum {
    background: rgba(239, 235, 235, 0.5);
    border-bottom-left-radius: 4px;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

/* 上传按钮-上传图标 */
.uploadMore-uploadBtn .uploadMore-icon-box {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #fafafa;
    cursor: pointer;
}

/*************************** 操作按钮蒙版 start ***************************/

/*操作按钮蒙版*/
.uploadMore-operation {
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    font-size: 30px;
    opacity: 0;
    transition: all 0.3s ease; /* 过渡效果 */
    border-radius: 8px; /* 圆角 */
}

/*操作按钮容器*/
.uploadMore-operation-box {
    width: 100%;
    height: 80px;
    /*height: 80px;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-weight: bold;

    flex-wrap: wrap;
    flex-direction: column;
}

/* 操作按钮 */
.uploadMore-operation-action .layui-icon {
    cursor: pointer;
    color: white;
}

.uploadMore-operation-action .layui-icon:hover {
    cursor: pointer;
    color: #0099cc;

    font-weight: bold;
}

.uploadMore-operation-action-delete .layui-icon:hover {
    cursor: pointer;
    color: red;
    font-weight: bold;
}

/*************************** 进度条 start ***************************/
.uploadMore-progress {
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.uploadMore-progress-box {
    z-index: 3;
    width: 100%;
    height: 100%;
    color: #fff;
}

.uploadMore-progress-bg {
    background-color: #0099cc !important;
    color: #fff !important;
}

/*************************** 上传失败信息 start ***************************/
.uploadMore-message {
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.uploadMore-message-box {
    z-index: 4;
    width: 100%;
    height: 100%;
    color: #fff;
}

.uploadMore-message-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-content: center;
}

.uploadMore-message-content span {
    line-height: 28px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
}
.uploadMore-message-content span:hover {
    color: #0099cc;
    font-weight: bold;
}

.uploadMore-message-content .uploadMore-operation-action-delete:hover {
    color: red;
}

.uploadMore-item-status {
    color: white;
}